<script>
    import { FromMarker, ToMarker } from "Marker";

    export let relation;

    $: fromRect = relation.fromRect;
    $: toRect = relation.toRect;
    $: connectors = relation.getLines($fromRect, $toRect);
    $: startPoint = relation.startPoint;
    $: endPoint = relation.endPoint;

    $: if ($fromRect && $toRect) {
        startPoint = relation.startPoint;
        endPoint = relation.endPoint;
    }
</script>

<style>
    line {
        stroke: #55b955;
        stroke-width: 2;
    }
</style>


{#if connectors && connectors.length}
    <FromMarker point={startPoint} />

    {#each connectors as {x1, x2, y1, y2}, idx (`${x1, x2, y1, y2, idx}`)}
        <line {x1} {x2} {y1} {y2} />
    {/each}

    <ToMarker point={endPoint} />
{/if}
