<script>
    import Field from "Field";
    import { onEntityMove } from "./er-entity";
    import InlineEdit from "components/InlineEdit";

    export let entity;
    export let editorNode;
    export let showAddWindow = false;

    let entityNode;
    let drag;
    let cursorOffSet;
    let editMode = false
    let entityWidth;
    let entityHeight;

    $: caption = entity.caption;
    $: entityCd = entity.entityCd;
    $: fields = entity.fields;
    $: r = entity.rect;
    $: rect = $r;

    const edit = () => {
        editMode = !editMode;
    }

    const addField = () => {
        showAddWindow = true;
        editMode = false;
    }

    const changeName = (newCaption) => {
        entity = entity.changeCaption(newCaption)
    };

    const mouseUp = () => {
        drag = false;
        window.removeEventListener("mousemove", divMove, true);
        cursorOffSet = null;
    };

    const mouseDown = (e) => {
        setCursorOffSet(e);
        window.addEventListener('mousemove', divMove, true);
        drag = true;
    };

    const divMove = (e) => {
        rect = entity.onEntityMove(e, editorNode, entityNode, cursorOffSet);
    };

    const setCursorOffSet = (e) => {
        if (!e || !entityNode)
            return;

        const box = entityNode.getBoundingClientRect();
        cursorOffSet = {
            x: e.clientX - box.x,
            y: e.clientY - box.y
        }
    };

    const isValidNumber = (num) =>
        typeof num === "number" && num > 0;
</script>

<style>
    .entity {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        width: 100%;
        height: 100%;
        user-select: none;
        outline: 0;
        outline: none;
        background: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 6;
    }
    .entity:hover {
        cursor: move;
    }
    .header {
        min-height: 25px;
        height: fit-content;
        padding: 0 10px 0 2px;
        background:  #047cc7;
        color: white;
        display: flex;
        overflow: hidden;
    }
    .drag {
        z-index:4;
    }

    table {
        width: 100%;
        table-layout: fixed;
        width: 100%;
    }

    .edit::before {
        margin-left: 10px;
        content: "\e947";
        width: 15px;
        height: inherit;
    }

    .edit:hover {
        cursor: pointer;
    }

    .add-field {
        position: absolute;
        background: #047cc7;
        height: 20px;
        z-index: 3;
        border: 2px solid #047cc7;
        border-radius: 0px 0 5px 5px;
        text-align: center;
        color: white;
        padding: 2px 0;
        font-size: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .add-field:hover {
        background: rgb(86, 150, 112);
        border-color: rgb(86, 150, 112);
    }
</style>

<svelte:window on:mouseup={mouseUp} />

<div class="entity" class:drag bind:this={entityNode}
     bind:offsetWidth={entityWidth}
     bind:offsetHeight={entityHeight}
     entityCd={entityCd}
     on:mousedown={mouseDown}
     on:mouseup={mouseUp}
     >

    <div class="header">
        <InlineEdit value={caption} onChange={changeName}/>
        <div class="edit" on:click|stopPropagation={edit}/>
    </div>

    <table>
        <tbody>
            {#if fields && fields.length}
                {#each fields as field}
                    <Field {field} {entity}/>
                {/each}
            {/if}
        </tbody>
    </table>
</div>

{#if editMode}
    <div on:click={addField} class="add-field" style="top:{entityNode.clientHeight}px; left:{-2}px; width:{rect.width}px;">
        <span>Add new field</span>
    </div>
{/if}
