<script>
    import Entity from "./Entity";
    import Resizer from "components/Resizer";
    import NewFieldWnd from "components/NewFieldWnd";


    export let entity;
    export let editorNode;

    let showAddWindow = false;

    $: r = entity.rect;
    $: rect = $r;

    const onUpdateRect = (newRect) => {
        entity.updateRect(newRect);
    };

    const createNewField = (type, caption, valueLength) => {
        if (!type || !caption)
            return;

        entity = entity.addField(type, caption, valueLength);
        showAddWindow = false;
    }

    const cancelCreateNewField = () => {
        showAddWindow = false;
    }

</script>

{#if showAddWindow}
    <NewFieldWnd width={editorNode.clientWidth}
        height={editorNode.clientHeight} {entity}
        onOk={createNewField}
        onCancel={cancelCreateNewField}
    />
{/if}

<Resizer {rect} updateRect={onUpdateRect} editor={editorNode}>
    <Entity {entity} {editorNode} bind:showAddWindow/>
</Resizer>
