<script>
    import Entity from "Entity";
    import Relation from "Relation";
    import { getEntityCdFromEvent } from "./editor";

    export let editor;
    export let editorNode;

    let svgArea;
    let activeEntity;
    let activeLine = null;
    const pointHeight = 10;

    $: width = editor.width;
    $: height = editor.height;
    $: entities = editor.entities;
    $: relations = editor.relations;
    $: border = editor.border;
    $: activeEntityPoints = activeEntity && activeEntity.getPoints(pointHeight, border);

    const onClick = (e) => {
        const entityCd = getEntityCdFromEvent(e);
        activeEntity = editor.getEntityByCd(entityCd);
    };

    const onMouseUp = () => {
        activeEntity = null;
        activeLine = null;
    };

    const onPointMouseDown = (e) => {
        const position = e.target.getAttribute("position");
        const entity = e.target.getAttribute("entityCd");
        const point = e.target.getBoundingClientRect();
        const box = editorNode.getBoundingClientRect();

        activeLine = {
            fromPosition: position,
            fromEntity: entity,
            x1: point.x - box.x,
            y1: point.y - box.y,
            isValid: false
        };
    };

    const onMouseMove = (e) => {
        if (!activeLine)
            return;

        if (!activeLine.isValid)
            activeLine.isValid = true;

        const box = editorNode.getBoundingClientRect();

        activeLine.x2 = e.clientX - box.x;
        activeLine.y2 = e.clientY - box.y;
        activeLine = activeLine;
    };

    const onMouseOver = (e) => {
        if (!activeLine)
            return;

        const fromEntityCd = activeLine.fromEntity;
        const toEntityCd = getEntityCdFromEvent(e);

        if (editor.isValidRelation(fromEntityCd, toEntityCd))
            activeEntity = editor.getEntityByCd(toEntityCd);
    };

    const onPointMouseUp = (e) => {
        const positionTo = e.target.getAttribute("position");
        const entityTo = e.target.getAttribute("entityCd");
        const entityFrom = activeLine.fromEntity;
        const positionFrom = activeLine.fromPosition;
        editor.addRelation(entityFrom, entityTo, positionFrom, positionTo);
        relations = editor.relations;
        activeLine = null;
    };

    const onMouseDown = () => {
        activeEntity = null;
    };
</script>

<style>
    .area {
        position: absolute;
        z-index: 2;
        margin: 0 auto;
        background: #ccc;
    }

    svg {
        position: absolute;
        z-index:1;
    }

    .point {
        height: 10px;
        width: 10px;
        border-radius: 10px;
        top: 10px;
        border: 2px solid;
        position: absolute;
        border-color: orange;
        z-index: 6;
        background-color: white;
    }

    .point:hover {
        height: 20px;
        width: 20px;
        border-radius: 20px;
        top: 20px;
        cursor: pointer;
    }

    line {
        stroke: black;
        stroke-width: 2;
        z-index: 7;
    }
</style>

<div bind:this={editorNode} class="area" style="width: {width}px; height:{height}px;"
     on:click|preventDefault|stopPropagation={onClick}
     on:mousemove|preventDefault={onMouseMove}
     on:mouseover|preventDefault={onMouseOver}
     on:mousedown|preventDefault={onMouseDown}
     on:mouseup|preventDefault={onMouseUp}>

    {#each entities as entity, idx (entity.caption + idx)}
        <Entity {entity} {editorNode} />
    {/each}

    {#if activeEntityPoints && activeEntityPoints.length}
        {#each activeEntityPoints as {x, y, position, entityCd}, idx}
            <div class="point"
                 on:mousedown|stopPropagation={onPointMouseDown}
                 on:mouseup|stopPropagation|preventDefault={onPointMouseUp}
                 style="left: {x}px; top: {y}px;"
                 {position}
                 entityCd={entityCd}
            />
        {/each}
    {/if}

    <svg bind:this={svgArea} {width} {height}>
        {#if activeLine && activeLine.isValid}
            <line x1={activeLine.x1} x2={activeLine.x2} y1={activeLine.y1} y2={activeLine.y2} />
        {/if}

        {#if relations && relations.length}
            {#each relations as relation, idx (relation.fromEntity + relation.toEntity + idx)}
                <Relation {relation} />
            {/each}
        {/if}
    </svg>
</div>
