<script>
    import { getNewRect } from "./utils";

    export let rect;
    export let updateRect;
    export let editor;

    let node;
    let currentResizer = null
    let axis = null;

    const mouseUp = (e) => {
        currentResizer = null;
        axis = null;
        window.removeEventListener("mousemove", resize, true);
    };

    const mouseDown = (e) => {
        currentResizer = e.target;
        axis = e.target.getAttribute("axis");
        window.addEventListener('mousemove', resize, true);
    };

    const resize = (e) => {
        const newRect = getNewRect(e, axis, rect, node, editor);
        if (newRect.height > 100 || newRect.width > 100)
            updateRect(newRect);
    };
</script>

<style>
    .resize-square {
        position: absolute;
        border-radius: 5px;
        border: 3px solid #047cc7;
    }

    .resizer {
        position: absolute;
        z-index: 5;
    }

    .ns {
        cursor: ns-resize;
    }

    .ew {
        cursor: ew-resize;
    }
</style>

<div bind:this={node}
     class="resize-square"
     style="width:{rect.width}px; height:{rect.height}px; left:{rect.x}px; top:{rect.y}px;"
     on:mouseup={mouseUp} >

    <div class="resizer ns" style="width:{rect.width}px; height: 4px; top:-4px;"
        on:mousedown|preventDefault={mouseDown}
        axis="y"
    />
    <div class="resizer ns" style="width:{rect.width}px; height: 4px; top: {rect.height}px;"
        on:mousedown|preventDefault={mouseDown}
        axis="height"
    />
    <div class="resizer ew" style="width: 4px; height: {rect.height}px; left: -4px;"
        on:mousedown|preventDefault={mouseDown}
        axis="x"
    />
    <div class="resizer ew" style="width: 4px; height: {rect.height}px; left:{rect.width}px"
        on:mousedown|preventDefault={mouseDown}
        axis="width"
    />
    <slot />
</div>