<script>
    export let value;
    export let onChange;

    let edit = false;
    let defValue;

    const showInput = () => {
        defValue = value;
        edit = !edit;
    };

    const blur = () => {
        onChange(value);
        edit = false;
    };

    const checkKey = e => {
        switch (e.key) {
            case "Enter":
                blur();
                break;
            case "Escape":
                value = defValue;
                edit = false;
                break;
            default:
                return;
        }
        return e.stopPropagation();
    };

</script>

<style>
    .inline-edit {
        width: 100%;
        overflow: hidden;
    }

    .inline-edit > .v {
        border-radius: 4px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .inline-edit > input {
        font-size: 70%;
        width: 100%;
    }
</style>

<div class="inline-edit">
    {#if !edit}
        <div class="v" on:dblclick={showInput}>{value}</div>
    {:else}
        <input bind:value on:blur={blur} on:keydown={checkKey} autofocus>
    {/if}
</div>