<script>
    import { RelationPosition as position } from "interfaces"

    export let point;

    $: startX = point.x;
    $: startY = point.y;
    $: p = point.position;
</script>

{#if p === position.right}
    <path d="M {startX} {startY} L {startX - 20} {startY - 10}" />
    <path d="M {startX} {startY} L {startX - 20} {startY}" />
    <path d="M {startX} {startY} L {startX - 20} {startY + 10}" />
    <path d="M {startX - 4} {startY - 8} L {startX - 4} {startY + 8}" />
{/if}

{#if p === position.left}
    <path d="M {startX} {startY} L {startX + 20} {startY - 10}" />
    <path d="M {startX} {startY} L {startX + 20} {startY}" />
    <path d="M {startX} {startY} L {startX + 20} {startY + 10}" />
    <path d="M {startX + 4} {startY - 8} L {startX + 4} {startY + 8}" />
{/if}

{#if p === position.top}
    <path d="M {startX} {startY} L {startX + 10} {startY + 20}" />
    <path d="M {startX} {startY} L {startX} {startY + 20}" />
    <path d="M {startX} {startY} L {startX - 10} {startY + 20}" />
    <path d="M {startX - 10} {startY + 8} L {startX + 10} {startY + 8}" />
{/if}

{#if p === position.bottom}
    <path d="M {startX} {startY} L {startX - 10} {startY - 20}" />
    <path d="M {startX} {startY} L {startX} {startY - 20}" />
    <path d="M {startX} {startY} L {startX + 10} {startY - 20}" />
    <path d="M {startX - 10} {startY - 8} L {startX + 10} {startY - 8}" />
{/if}
