<script>
    export let x;
    export let y;
    export let radius = 5;

    let padding = 10;
    let isDragg = false;
</script>

<style>
    circle {
        cursor: move;
        z-index: 3;
    }
    .wrapper {
        z-index:2;
        stroke: transparent;
        fill: transparent;
    }
</style>

<circle class="wrapper" cx={x} cy={y} r={padding} />
<circle cx={x} cy={y} r={radius} />