<script>
    import InlineEdit from "components/InlineEdit";

    export let field;
    export let entity;

    const onChangeName = (newName) => {
        entity.changeFieldCaption(newName)
    }
</script>

<style>
    tr {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
        outline: none;
        height: 25px;
    }
    td {
        outline:none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
    }

    .modificator {
        width: 25px;
        text-align: center;
    }
</style>

<tr>
    <td class="modificator">{field.modificator}</td>
    <td>
        <InlineEdit value={field.caption} onChange={onChangeName}/>
    </td>
</tr>
