
<script>
    export let entity;
    export let height;
    export let width;
    export let onOk;
    export let onCancel;

    let type;
    let fieldName;
    let valueLength;
</script>

<style>
    .modal {
        position: absolute;
        z-index: 4;
        background: #569570ab;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-window {
        background: #ccc;
        background: #fff;
        flex-direction: column;
        padding: 20px 20px;
    }

    .name {
        border-bottom: 1px solid#ccc;
        width: 100%;
        margin-bottom: 5px;
        padding: 2px 0;
    }

    .block {
        display: table-row;
        height: 30px;
    }

    .block span {
        font-size: 10pt;
        padding-right: 10px;
        display: table-cell;
    }

    .block input {
        padding: 2px 0px;
        margin: 0;
        font-size: 10pt;
    }

    .btn {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 10pt;
        color: white;
    }
</style>

<div class="modal" style="width: {width}px; height: {height}px;">
    <div class="add-window">
        <div class="name">{entity.name}</div>
        <div class="block">
            <span>Field type:</span>
            <select value={type} on:change={(e) => { type = e.target.value; }}>
                <option value="number">number</option>
                <option value="string">string</option>
                <option value="string">boolean</option>
                <option value="string">date</option>
                <option value="string">text</option>
            </select>
        </div>
         <div class="block">
            <span>Field name:</span>
            <input type="text" bind:value={fieldName}>
        </div>
        <div class="block">
            <span>Value length(optional): </span>
            <input type="number" bind:value={valueLength}>
        </div>
        <div style="margin-top: 5px">
            <span class="btn" style="background: rgb(86, 150, 112)" on:click={() => { onOk(type, fieldName, valueLength) }}>OK</span>
            <span class="btn" style="background: rgb(228, 104, 104)" on:click={onCancel}>Cancel</span>
        </div>
    </div>
</div>