<script>
    export let onSelectDiagram;
    export let diagrams = [];
    export let current = null;
</script>

<style>
    .d-select {
        display: flex;
        flex-direction: column;
        border-top: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
    }

    select {
        padding: 5px 10px;
    }

    .caption {
        padding: 10px 0;
    }

    option {
        font-size: 13px;
    }
</style>

<div class="d-select">
    <span class="caption">Diagram selector</span>
    <select bind:value={current} on:change={() => { onSelectDiagram(current) }}>
        {#each diagrams as diagram}
            <option value={diagram}>{diagram.name}</option>
        {/each}
    </select>
</div>