<script>
    export let entity;
</script>

<style>
    span {
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
        font-size: 13px
    }

    span:hover {
        background: rgb(86, 150, 112);
        cursor: grab;
    }
</style>

<span draggable={true} entityCd={entity.entityCd}>{entity.caption}</span>