 <script>
    import EItem from "./EItem";

    export let entities
 </script>

 <style>
    .e-list {
        display: flex;
        flex-direction: column;
    }

    .caption {
        padding: 10px 0;
    }

    .items {
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
 </style>

 <div class="e-list">
    <span class="caption"> Entities </span>
    <div class="items">
        {#each entities as entity}
            <EItem {entity} />
        {/each}
    </div>
</div>