<script>
    import EList from "./EList";
    import DSelect from "./DSelect"
    import NewDiagramWnd from "../NewDiagramWnd";

    export let diagrams;
    export let entities;
    export let currentDiagram;
    export let onSelectDiagram;
    export let diagramRedactor;

    let createNew = false

    const onSelect = (d) => {
        onSelectDiagram(d);
        createNew = false;
    };

    const ok = (d) => {
        diagramRedactor.addNewDiagram(d);
        onSelect(d);
        createNew = false;
    };

    const create = () => {
        createNew = true;
    };

    const cancel = () => {
        createNew = false
    };
</script>

<style>
    .configurator {
        margin-top: 10px;
        flex: 1;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .create-new {
        padding: 5px 10px;
        background:rgb(86, 150, 112);
        font-size: 12px;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

</style>

<div class="configurator">
    {#if createNew}
        <NewDiagramWnd onOk={ok} onCancel={cancel}/>
    {:else}
        <div class="create-new" on:click={create}>Create new</div>

        <DSelect {diagrams} onSelectDiagram={onSelect} current={currentDiagram} />

        {#if entities && entities.length}
            <EList {entities} />
        {/if}
    {/if}
</div>