<script>
    export let onOk;
    export let onCancel;

    let name = "";
    let width;
    let height;

    const ok = () => {
        let isName = false;
        let isWidth = false;
        let isHeight = false;
        const d = {name: "", area: {}, entities: []};

        if(name.length > 0) {
            d.name = name;
            isName = true;
        } else
            alert("Diagram should have name!");

        if(width >= 300 && width <= 1000) {
            d.area.width = width;
            isWidth = true;
        } else
            alert("Wrong width");

        if(height >= 400 && width <= 1600) {
            d.area.height = height;
            isHeight = true;
        }
        else
            alert("Wrong height");

        if (isHeight && isWidth && isName)
            onOk(d);
    }
</script>

<style>
    input {
        width: 100%;
    }

    .ok {
        background: #ccc;
    }

    .cancel {
        background: rgb(228, 104, 104);
    }

    .button {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .caption {
        margin-bottom: 5px;
    }
</style>

<div class="modal">
   <div class="name">
        <div class="caption">Diagram name: </div>
        <input type="text" bind:value={name} placeholder="Title..." />
   </div>

    <div class="width">
        <div class="caption">Editor width(px): </div>
        <input type="number" max="1000" min="300" bind:value={width} placeholder="Max 1000, min 300"/>
    </div>

    <div class="height">
        <div class="caption">Editor height(px): </div>
        <input type="number" max="1600" min="400" bind:value={height} placeholder="Max 1600, min 400"/>
    </div>

    <div class="buttons">
        <button class="button ok" on:click={ok} >OK</button>
        <button class="button cancel" on:click={onCancel}>Cancel</button>
    </div>
</div>