<script>
	import DiagramsRedactor from "components/DiagramsRedactor"
	import { diagram, diagram1, diagram2, diagram3  } from "./diagrams";
	import { entities } from "./entities";

	const diagrams = [diagram];
</script>

<style>
    :global(body) {
        padding: 0;
    }
</style>

<DiagramsRedactor {diagrams} {entities} />
<DiagramsRedactor diagrams={[diagram1]} {entities} />
<DiagramsRedactor diagrams={[diagram2]} {entities} />
<DiagramsRedactor diagrams={[diagram2]} />
<DiagramsRedactor diagrams={[diagram3]} />
<DiagramsRedactor diagrams={[diagram3]} {entities}/>