<script>
    import DiagramEditor from "../Editor";
    import Configurator from "../Configurator";
    import { getParrentWithType, getRect } from "./util"
    import { DiagramRedactor } from "./diagram-redactor";
    import { Editor } from "../Editor/editor"

    export let entities = [];
    export let diagrams = [];

    let editorNode;
    let currentDragEntityCd;

    $: diagramRedactor = new DiagramRedactor(entities, diagrams);
    $: currentDiagram = diagramRedactor.currentDiagram;
    $: editor = currentDiagram ? new Editor(currentDiagram, entities) : null;
    $: notUsedEntities = editor && editor.getNotUsedEntities(entities);

	const onDragStart = (e) => {
		const elem = e.target;
		currentDragEntityCd = elem.getAttribute("entityCd")
	};

	const onDrop = (e) => {
        const rect = getRect(e, editorNode);
        const diagramEntity = {
            entity: {...entities.find(_ => _.entityCd === currentDragEntityCd)},
            rect
        };
        editor = editor.addEntity(diagramEntity);
        currentDragEntityCd = null;
    };

    const onSelectDiagram = (d) => {
        diagramRedactor.changeCurrentDiagram(d);
        currentDiagram = diagramRedactor.currentDiagram;
    };
</script>

<style>
    .diagram-redactor {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    .configurator-wrapper {
        width: 200px;
        overflow: auto;
        display: flex;
    }

    .editor-wrapper {
        flex: 1;
        overflow: auto;
        position: relative;
    }
</style>

<div class="diagram-redactor" on:dragstart={onDragStart}>
    <div class="configurator-wrapper">
	    <Configurator {diagrams} entities={notUsedEntities} {onSelectDiagram} {currentDiagram} {diagramRedactor}/>
    </div>

    <div class="editor-wrapper" on:drop={onDrop} on:dragover|preventDefault>
        {#if editor}
	        <DiagramEditor bind:editorNode {editor} />
        {/if}
    </div>
</div>
